<h1>About the apps</h1>
<h2> Rongzi Xie </h1>
My program determine if the input number is a happy number. A happy number is defined based on if the summation of the dquare of each digits can finally becomes 1 <br />
For example:<br />
13-->1^2+3^2=10<br />
10-->1^2+0=1<br />
13 is a happy number<br />
Here is the link to it: 
'''+f'''<a href="{url_for('gptdemorongzi')}">Go to Rongzi's chatgpt to check if a number is happy</a><br />
<a href="{url_for('index')}">Back to the index page</a> 

<h2> James Ma </h2>
The website create a chatGPT answer encrypted in Caesar Cipher. The key is randomly generated and the translation is provided. <br>
Here is the link to it: 
'''+f'''<a href="{url_for('CCgpt')}">Caesar Cipher GPT for encrypted answer</a><br />
<h2> Keer Xu </h2>
I created a webpage to check whether an input word is palindrome or not. A palindrome is defined as a word or phrase that is exactly the same
reading from the front or back. </br>
For example: racecar and madam are palindrome but dog or cat are not palindrome. <br />
'''+f'''<a href="{url_for('gptdemokeer')}">A web page to tell you whether a word is palindrome</a><br />
<h2> Liulu Yue </h2>
I created a webpage to produce product table with user specified lower and upper bound. <br />
Entering two numbers separated by a space, the webpage will produce a product table with multipliers being all integers between the two entered numbers. </br>
Here is the link to it:
'''+f'''<a href="{url_for('gptdemoliulu')}">A web page to generate product table</a><br />
<a href="/">Back to the index page</a> 