<h1> History </h1>
<% if (dialogue !== null){ %>
    <h2>Date of the prompt</h2>
    <p><%= dialogue.date%></p>
    <h3>Question: <%= dialogue.Question %></h3>
    <h3>Response: <%= dialogue.Response %></h3>
<% } else { %>
    <p>Nothing yet T_T</p>
<% } %> 

<form method="POST" action="/ChatGPT">
    Ask a Question<br>
    <input type="text" id ="ChatGPT" name="ChatGPT" placeholder="Ask a Question"><br> 
    <input type="submit" value="prompt"> 
</form>
