<h1>Team Page</h1>
<h2> Rongzi Xie </h2>
Hi, My name is Rongzi Xie. I'm a Junior who major in CS and Applied Math. I'm also an Office Assistant in the department, so welcome to come by and say hi when I'm in the office. <br />
I'm responsible for the getifhappy method and also the demo of this project<br />
<h3> James Ma </h3>
I am James Ma. I am a Junior majoring in CS and Math. I am also an Office Assistant in the department. I am TAing for 12 and 121 as well.  I coded the Caeser Cipher ChatGPT which returns encrypted answers. <br>
<h2> Keer Xu </h2>
I am Keer Xu, a junior student major in computer science and Applied Math. I am interested in Frontend Development and NLP (natural language processing).<br />
I am the contributor of isPalindrome() method which helps you check whether a word is palindrome or not. 
<br>
<h2> Liulu Yue </h2>
Hi, this is Liulu Yue, a junior majoring in Computer Science and Applied Mathematics. I'm interested in Artificial Intelligence and NLP. I'm responsible for the webpage that can help the user to produce a product table.
<br>
<a href="/">Back to the index page</a> 